doctype html
html(lang=en)
  head
    title Component examples
    link(rel="stylesheet", type="text/css", href="/dist/index.css")
  body
    .container
      .row
        h1 Welcome to component examples

      .row
        .left-column
          #static
            h2 static
            .ms-wrapper
              input
              ul.dropdown
                li Bobby
                li Susie 
                li Jimmy 
              ul.tags
                li.tag
                  | Bobby 
                  i.glyphicon.glyphicon-remove

          #react
            h2 react.js

        .right-column
          #ember
            h2 ember.js
          #backbone
            h2 backbone.js

    script(src="/vendor/jquery.js")
    script(src="/vendor/handlebars.js")
    script(src="/vendor/ember.js")
    script(src="/dist/templates.js")
    script(src="/dist/components.js")
