{{forms-multiselect 
  classNames="ms-wrapper"
  candidates=candidates 
  placeholder="Choose a game"
  values=games
  name="games"}}

<ul>
  {{#each games}}
    <li>{{value}}</li> 
  {{/each}}
</ul>
