@import "variables.less";
@import "mixins.less";
@import "grid.less";
@import "utilities.less";
@icon-font-path: "/vendor/bootstrap/fonts/";
@icon-font-name: "glyphicons-halflings-regular";
@import "glyphicons.less";
//@import "forms.less";

@light-gray: lighten(gray, 30%);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

li {
  margin: 0px;
}

.left-column {
  .make-sm-column(3, 0px);
}

.right-column {
  .make-sm-column(3, 0px);
}

.ms-wrapper {
  width: 90%;
  input {
    .size(100%, 32px);
  }
  .dropdown {
    width: 100%;
    li {
      .size(100%, 32px);
      padding-top: .2em;
      font-size: 1.2em;
      padding-left: 12px;
      color: gray;
      background: @light-gray;
      &:first-child {
        color: white;
        background: gray;
      }
      &:hover {
        color: white;
        background: gray;
      }
    }
  }

}
