@import "variables.less";
@import "mixins.less";
@import "grid.less";
@import "utilities.less";
@icon-font-path: "/vendor/bootstrap/fonts/";
@icon-font-name: "glyphicons-halflings-regular";
@import "glyphicons.less";

@light-gray: lighten(gray, 30%);
@yt-lightgray: #ccc;
@yt-mediumgray: #444;
@yt-gray: #1b1b1b;
@blue: #3498db;
@red: #e74c3c;
@orange: #e67e22;
@yellow: #f1c40f;

* {
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
}

html, body {
  height: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

li {
  margin: 0px;
}

.ms-wrapper {
  width: 90%;
  input.ms-input {
    .size(100%, 32px);
  }
  .ms-dropdown {
    width: 100%;
    max-height: 256px;
    overflow-y: scroll;
    .ms-match {
      .size(100%, 32px);
      .text-overflow();
      border-bottom: 1px solid @gray;
      border-left: 1px solid @gray;
      border-right: 1px solid @gray;
      padding-top: .2em;
      font-size: 1.2em;
      padding-left: 12px;
      color: gray;
      background: @light-gray;
      &:hover {
        color: white;
        background: gray;
      }
    }
    .ms-match.active {
      color: white;
      background: gray; 
    }
  }
  .ms-tags {
    min-height: 32px;
    background-color: @light-gray;  
    padding: 3px;
    .ms-tag {
      .text-overflow();
      position: relative;
      display: inline-block;
      height: 26px;
      width: 100%;
      line-height: 24px;
      padding-left: 4px;
      padding-right: 24px;
      color: white;
      background: gray;
      i {
        position: absolute;
        top: 6px;
        right: 8px;
      }
    }
    .ms-no-tag {
      height: 24px;
      line-height: 24px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

.video-container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: @yt-gray;
  .player {
    .size(100%, 400px);
  }  
  .timelines-container {
    position: relative;
    .slider {
      .size(2px, 60px);
      position: absolute;
      z-index: 99;
      background-color: @yt-lightgray;
      .translate(630px, 0px);
      &.active {
        .animation(slide 30s linear infinite);
      }
    }
    .timeline-container {
      .size(100%, 20px);
      position: relative;
      .midline {
        .size(100%, 2px);
        position: absolute;
        top: 9px;
        &.comments {
          background-color: @red;
        }
        &.videos {
          background-color: @orange;
        }
        &.products {
          background-color: @yellow;
        }
      }
    }
  }
  .active-comments-container {
    padding: 10px;
    width: 100%;
    height: 200px;
    .active-comment-container {
      padding: 10px;
      .title {
        margin-bottom: 10px;
        color: white;
        text-align: center;
        padding: 4px;
        text-transform: uppercase;
        i {
          margin-right: 4px;
        }
        &.comments {
          background-color: @red;
        }
        &.videos {
          background-color: @orange;
        }
        &.products {
          background-color: @yellow;
        }
      }
      display: inline-block;
      float: left;
      color: white;
      width: 33.33%;
      .title {
        display: block;
        height: 40px;
        padding-top: 10px;
        border: none !important;
        margin-bottom: 0px;
        font-size: 16px;
      }
      .contents {
        height: 125px;
        width: 100%;
        background-color: white;
        padding: 4px;
        color: @yt-gray;
        p {
          margin: 10px; 
        }
        .video-thumbnail {
          width: 100%;
          height: 100%;
        }
        .thumbnail {
          margin-left: auto;
          margin-right: auto;
          height: 100%;
        }
        .profile-header {
          .profile-image {
            height: 30px;
            width: 30px;
            border-radius: 15px;
            display: inline-block;
            vertical-align: middle;
          }
          .profile-details {
            display: inline-block;
            margin-left: 8px;
            vertical-align: middle;
            .profile-name {
              text-decoration: none;
            }
            .comment-date {
              margin: 0px;
              font-size: 10px;
              color: @yt-mediumgray;
            }
          }
        }
      }
    }
  }
}

.timeline-tags {
  .size(100%, 100%);
  position: absolute;
  li {
    height: 8px;
    position: absolute;
    top: 6px;
    border-radius: 10px;
    background-color: @yt-gray;
    &.comments {
      border: 1px solid @red;
      &.active {
        background-color: @red;
      }
    }
    &.videos {
      border: 1px solid @orange;
      &.active {
        background-color: @orange;
      }
    }
    &.products {
      border: 1px solid @yellow;
      &.active {
        background-color: @yellow;
      }
    }
  }
}

@-webkit-keyframes slide {
  from {
    .translate(0px, 0px);
  }
  to {
    .translate(780px, 0px);
  }
}
